@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
html,
body {
	height: 100vh;
	width: 100vw;
}
:root {
	--fillColor: rgb(0, 0, 0);
}
p {
	font-family: "Libre Baskerville", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "EB Garamond", serif;
}
